[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yadr = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
build = "*"
wheel = "*"
twine = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
